# Adquisición de datos con el conjunto de datos Fashion MNIST

En este cuaderno, analizaremos algunos métodos para obtener el conjunto de datos Fashion MNIST. Al igual que en el cuaderno anterior, pasaremos por el proceso de obtención de los datos que necesitamos.

Podemos encontrar el conjunto de datos Fashion MNIST de múltiples formas en línea, pero pasaremos por un procedimiento de código simple para facilitarnos el proceso. Escribiremos código para obtener los datos por nosotros.

Para obtener más referencias a los datos, consulte https://github.com/zalandoresearch/fashion-mnist.

Para que el script funcione, asegúrese de tener la biblioteca os, wget, pandas y matplotlib instalada en su entorno virtual de Python.

## 1.1 Importar datos a través de pandas

In [1]:
import pandas as pd # Pandas for data manipulation
import numpy as np # numpy for data manipulation
import matplotlib.pyplot as plt # matplotlib for plotting
from sklearn.model_selection import train_test_split

¿Pudo importar estas bibliotecas con éxito? Si no, pida ayuda, pero si lo logró, ¡continuemos!

Ahora intentaremos obtener los datos para el conjunto de datos de moda MNIST. Para mayor comodidad, ya hemos colocado los datos en una carpeta llamada FMNIST. Intenta mirar en su interior, ¿qué ves? ¿Por qué ve 2 archivos?

In [2]:
# Los 2 archivos existen porque los datos se han dividido en datos de entrenamiento y datos de prueba para nuestra conveniencia.

El conjunto de datos Fashion MNIST es un archivo csv. Ahora, abra el conjunto de datos usando la función pd.read_csv () y asígnelo a las variables 'raw_data_train' y 'raw_data_test'. Luego, imprima las primeras 5 filas del marco de datos para ver el atributo de datos. ¿Que notó?

In [3]:
raw_data_train = pd.read_csv("FMNIST/fashion-mnist_train.csv")
raw_data_test = pd.read_csv('FMNIST/fashion-mnist_test.csv')

In [4]:
raw_data_train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Ahora use pandas para obtener información básica (número de filas y columnas, tipo de datos, número de valores perdidos y estadísticas básicas) sobre el conjunto de datos. Utilice .info () y .describe () para obtener información básica sobre el conjunto de datos.

In [5]:
# Respuesta
df = raw_data_train

Ahora que ha terminado de importar los datos, podemos pasar a una tarea simple de encontrar los tipos de datos dentro de este marco de datos. ¿Puede encontrar los tipos de datos únicos dentro de este marco de datos e imprimirlos?

In [6]:
# Respuesta

Felicitaciones por completar el cuaderno de adquisición de datos Fashion MNIST. Si ha terminado antes, tómese un tiempo para jugar con el conjunto de datos y aprender más sobre él.

1. ¿Existen otras formas de importar datos, como datos de imágenes, de ser así, cómo?
2. Nuestras imágenes en el conjunto de datos de Fahsion MNIST están en escala de grises. ¿Cómo cambiarían los datarames si el conjunto de datos estuviera compuesto por imágenes en color?